.hero-home {
  background-image: url('/images/herowl-human-centric-technology.png');
}

.herowlidays {
  background-image: url('/images/herowlidays.png');
}

.herowlidays2020 {
  background-image: url('/images/herowlidays-2020.png');
}

.herowlidays2021 {
  background-image: url('/images/herowlidays-2021.png');
}

.herowl-about {
  background-image: url('/images/herowl-about.png');
}

.herowl-advertise {
  background-image: url('/images/herowl-advertise.png');
}

.herowl-art {
  background-image: url('/images/herowl-art.png');
}

.herowl-aruba {
  background-image: url('/images/herowl-aruba.png');
}

.herowl-awards {
  background-image: url('/images/herowl-awards.png');
}

.herowl-bibliography {
  background-image: url('/images/herowl-bibliography.png');
}

.herowl-brand {
  background-image: url('/images/herowl-brand.png');
}

.herowl-contact {
  background-image: url('/images/herowl-contact.png');
}

.herowl-elastic {
  background-image: url('/images/herowl-elastic.png');
}

.herowl-get-started {
  background-image: url('/images/herowl-get-started.png');
}

.herowl-history {
  background-image: url('/images/herowl-history.png');
}

.herowl-montreal {
  background-image: url('/images/herowl-montreal.png');
}

.herowl-observe {
  background-image: url('/images/herowl-observe.png');
}

.herowl-press {
  background-image: url('/images/herowl-press.png');
}

.herowl-reelyapp {
  background-image: url('/images/herowl-reelyapp.png');
}

.herowl-science {
  background-image: url('/images/herowl-science.png');
}

.herowl-team {
  background-image: url('/images/herowl-team.png');
}

.herowl-technology {
  background-image: url('/images/herowl-technology.png');
}
