.herowlidays {
  background-image: url('/images/herowlidays.png');
}

.herowlidays2020 {
  background-image: url('/images/herowlidays-2020.png');
}

.herowl-about {
  background-image: url('/images/herowl-about.png');
}

.herowl-art {
  background-image: url('/images/herowl-art.png');
}

.herowl-awards {
  background-image: url('/images/herowl-awards.png');
}

.herowl-bibliography {
  background-image: url('/images/herowl-bibliography.png');
}

.herowl-contact {
  background-image: url('/images/herowl-contact.png');
}

.herowl-montreal {
  background-image: url('/images/herowl-montreal.png');
}